@import url("./styles/theme.css");
@import url("./styles/login.css");
@import url("./styles/dashboard.css");
@import url("./styles/rendiciones.css");
@import url("./styles/viajes.css");
@import url("./styles/patentes.css");
@import url("./styles/conductores.css");
@import url("./styles/profile.css");
@import url("./styles/reportes.css");